# Node.js specific files
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
logs/**/*.log

# Editor/IDE-specific files
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# Build artifacts
dist/
build/